
/* Link Hover */
.link-color:hover {
    background-color: #7CA7B5;
    color: white;
}

.link-color {
    color: #7CA7B5;
    margin: 5px;
}

table, td {
    border: 0.5px lightgray solid;
}

th, td {
    text-align: center;
}
p {
    letter-spacing: 2.3px;
}
.center {
    text-align: center;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.bottom-margin {
    margin-bottom: 50px;
}
/* Classes for header links and grid */

.header-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.header-link-1 {
    grid-column: 1/2;
}

.header-link-2 {
    grid-column: 2/3;
}

.header-link-3 {
    grid-column: 3/4;
}

.header-link-4 {
    grid-column: 4/5;
}

.header-link-5 {
    grid-column: 5/6;
}

/* Middle Grid for photo and quote */

.middle-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}


.middle-photo {
    grid-column: 1/2;
    max-width: 500px;
    grid-row: 2/3;
    margin: 20px;
}

.middle-quote {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 40px;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}

.france-photo {
    grid-column: 2/3;
    max-width: 500px;
    grid-row: 1/2;
    margin: 20px;
}

.about-me-paragraph {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 500px;
    margin-top: 50px;
    margin-left: 20px;
}

.lyon-rotate {
    transform: rotate(340deg);
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 40px;
    color: #49201D;
    margin-top: 50px;
    margin-right: 100px;
}

/* FORM GRID */
.form-grid{
    background-color:#e4f2f2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 800px, 200px;
    grid-gap: 5px;
    padding: 15px;
    margin-top: 50px;
    text-align: center;
}

.form-1 {
    grid-column: 1/2;

}

.form-2 {
    grid-column: 2/3;
}

.form-3 {
    grid-column: 3/4;
}

input {
    margin: 10px;
    text-align: center;
    height: 15px;
}

input, textarea {
    font-family: 'Lato', sans-serif;
}

.form-button {
    width: 200px;
    margin: 0 auto;
}

select {
    height: 20px;
}